<form method="POST" action="/new">
  <h1>Add Message:</h1>
  <label for="username">User:</label>
  <input type="text" name="username" />
  <label for="text">Text:</label>
  <input type="text" name="text" />
  <button type="submit">Submit</button>
</form>
