<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <ul>
      <% if (messages && messages.length) { %> <%
      messages.forEach(function(message) { %>
      <li>
        <h3><%= message.username %></h3>
        <p><%= message.text %></p>
        <p><%= message.date_added %></p>
      </li>
      <% }); %> <% } else { %>
      <li>No messages found</li>
      <% } %>
    </ul>

    <a href="/new">Add Message</a>
  </body>
</html>
